# Core UI & API Framework
gradio==5.2.0
uvicorn==0.30.6
fastapi==0.115.5

# Core Data + Model Utilities
pandas==2.2.3
numpy==2.1.3
scikit-learn==1.5.2
python-dotenv==1.0.1

# Hugging Face + Model Integration
huggingface-hub==0.25.2
transformers==4.45.2
sentence-transformers==3.1.1
torch==2.4.1
faiss-cpu==1.8.0.post1

# Reliability + Misc
requests==2.32.3
